<div id="<%= dom_id workexperience %>">
  <p>
    <strong>Designation:</strong>
    <%= workexperience.designation %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= workexperience.company %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= workexperience.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= workexperience.enddate %>
  </p>

  <p>
    <strong>About:</strong>
    <%= workexperience.about %>
  </p>

</div>
