<div id="<%= dom_id workexperience %>">
  <p>
    <strong>Designation:</strong>
    <%= workexperience.designation %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= workexperience.company %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= workexperience.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= workexperience.end %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= workexperience.details %>
  </p>

</div>
