<div id="<%= dom_id profile %>">
  <p>
    <strong>Image:</strong>
    <%= profile.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= profile.designation %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= profile.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= profile.email %>
  </p>

  <p>
    <strong>Phoneno:</strong>
    <%= profile.phoneno %>
  </p>

</div>
