<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
  </head>
  <body class="w3-light-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

      <!-- The Grid -->
      <div class="w3-row-padding">
      
        <!-- Left Column -->
        
        <div class="w3-third">
          <% Profile.all.each_slice(3).each do |pro| %>
            <%= render 'leftcolumn',leftcolumn: pro %>
          <% end %>
          <% @skills.each_slice(3).each do |pro| %>
            <%= render 'skill' ,skill: pro %>
          <% end %>
          <% @languages.each_slice(3).each do |pro| %>
            <%= render 'language', language: pro %>
          <% end %>
        </div>
        <!-- End Left Column -->

        <!-- Right Column -->
         
        <div class="w3-twothird">
          <% Workexperience.all.each_slice(3).each do |pro| %>
            <%= render 'rightcolumn', rightcolumn: pro %>
          <% end %>
        
          <% @education.each_slice(3).each do |pro| %>
            <%= render 'edu', edu: pro %> 
          <% end %>
          <!-- End Right Column -->

        </div>
        <!-- End Grid -->
      </div>
      <!-- End Page Container -->
    </div>
    <%= render partial: 'welcome/footer' %>
  </body>
</html> 

