<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">

    <title>
      Material Dashboard 2  by Creative Tim
    </title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <!-- Nucleo Icons -->
    <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <!-- CSS Files -->



    <link id="pagestyle" href="./assets/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />
  </head>
  <body class="g-sidenav-show  bg-gray-100">
      
    <!--dashboard-->
        <%= render partial: 'welcoms/dashboard' %>
    <!--end of dashboard-->

      

    <main class="main-content border-radius-lg ">
        <!-- Navbar -->
          <%= render partial: 'welcoms/navbar' %>
        <!-- End Navbar -->
      
      <div class="row">
          <div class="container-fluid py-4">
              <% @generals.each_slice(4).each do |p| %>
                  <%= render 'general' ,general: p %>
              <% end %> 
          </div>
      </div>


      <!-- sales -->             
        <% @sales.each_slice(4).each do |p| %>
            <%= render 'sales' ,sales: p %>
        <% end %>
      <!-- end of sales -->
      
      <div class="row mt-4">
        <!--Active-->        
            <% @active.each_slice(4).each do |p| %>
                <%= render 'active' ,active: p %>
            <% end %>
        <!--End of active-->
      
        <!--Overview-->
          <% @overview.each_slice(1).each do |p| %>
            <%= render 'overview' ,overview: p %>
          <% end %>
        <!--End of overview-->
      </div>
    </main>

      <!--Toggle button-->
    <%= render partial: 'welcoms/toggle' %>
      <!-- End Toggle Button -->  
    <hr class="horizontal dark my-1">
    <%# <div class="card-body pt-sm-3 pt-0"> %>
      <!-- Sidebar Backgrounds -->
      <%#= render partial: 'welcoms/sidebar' %>

      <!-- Sidenav Type -->
      
      <%#= render partial: 'welcoms/sidenav' %>
      

      <!-- Navbar Fixed -->
       <%#= render partial: "navbarfixed" %> 
    <%# </div> %>

    <!--Footer-->
        <%= render partial:'welcoms/footer'%>
    <!--end of footer-->

    <!--   Core JS Files   -->
    <%= render partial: 'welcoms/corejs' %>
    <!--   Core JS Files   -->
  </body>
</html>
