<div id="<%= dom_id education %>">
  <p>
    <strong>University:</strong>
    <%= education.university %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= education.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= education.end %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= education.degree %>
  </p>

</div>
