<div id="<%= dom_id education %>">
  <p>
    <strong>University:</strong>
    <%= education.university %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= education.startdate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= education.enddate %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= education.degree %>
  </p>

</div>
