<%= form_with(model: education) do |form| %>
  <% if education.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
        <% education.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :university, style: "display: block" %>
    <%= form.text_field :university %>
  </div>

  <div>
    <%= form.label :startdate, style: "display: block" %>
    <%= form.datetime_field :startdate %>
  </div>

  <div>
    <%= form.label :enddate, style: "display: block" %>
    <%= form.datetime_field :enddate %>
  </div>

  <div>
    <%= form.label :degree, style: "display: block" %>
    <%= form.text_area :degree %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
